@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
}

body{
    /* background-color: rgb(15, 15, 15); */
    /* background-color: #aacf0c;
    background-image: linear-gradient(43deg, #aacf0c 0%, #50c882 46%, #0ccf79 100%); */
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
    color: rgb(15, 15, 15);
}

h1{
    text-align: center;
    padding: 20px;
}

.container{
    width: 95%;
    margin: 0 auto;
    height: 100vh;
}

.game-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
}

.game-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border: 3px solid rgb(15, 15, 15);
    height: 100px;
    cursor: pointer;
    transition: .2s;
}

.game-cell:hover{
    background-color: #3AEEAA;
    border: 2px solid rgb(15, 15, 15);
}

.game-info{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.game-notification{
    font-weight: 400;
    padding: 20px;
}

.game-restart{
    background-color: rgb(15, 15, 15);
    color: #3DF5A7;
    border: none;
    padding: 10px;
    width: 80%;
    font-size: 18px;
    font-family: "Roboto", "sans-serif";
    font-weight: 400;
    cursor: pointer;
    border-radius: 15px;
    transition: .5s;
}

.game-restart:hover{
    background-color: #3AEEAA;
    color: rgb(15, 15, 15);
}

@media screen and (min-width: 480px){
    .game-info{
        justify-content: center;
        width: 500px;
    }
    
    .game-restart{
        text-align: center;
        width: 360px;
    }
}